@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

/* * { box-sizing: border-box; } */

html {
  font-size: 10px;
  background: url('https://i.imgur.com/b9r5sEL.jpg') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Indie Flower', cursive;

}

main{
  min-height: 100vh;
  /* margin-top: 200px; */
}

.circle {
  border-radius: 50%;
  font-family: 'Amatic SC', cursive;
  width: 200px;
  height: 200px; 
  background-color: #000;
  text-align: center;
  margin-bottom: 100px;
  margin-left: 10px;
  font-size: large;
  }
  
  .title {
  color: #fff;
  text-transform: uppercase;
  font: bold 26px/26px 'Amatic SC', sans-serif;
  padding-top: 48px
  }

  .title span {
    color:#ffc600;
  }
  
  .yellow {
    color: #fff;
  }
   
  


.keys {
  display: flex;
  flex: 1;
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

@media screen and (max-width:1000px){
  .keys{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:1px;
  }
}