@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

/* * { box-sizing: border-box; } */

html {
  font-size: 10px;
  background: url('https://images.unsplash.com/photo-1524230659092-07f99a75c013?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') bottom center;
  background-size: cover;
 
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Indie Flower', cursive;

}

main{
  min-height: 100vh;
  /* margin-top: 200px; */
}

.circle {
  border-radius: 50%;
  font-family: 'Amatic SC', cursive;
  width: 200px;
  height: 200px; 
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  margin-bottom: 100px;
  margin-left: 10px;
  font-size: large;
  }
  
  .title {
  color: #fff;
  text-transform: uppercase;
  font: bold 26px/26px 'Amatic SC', sans-serif;
  padding-top: 48px
  }

  .title span {
    color:#ffc600;
  }
  
  .yellow {
    color: #fff;
  }
   
  
p{
  text-align: center;
  color:#fff;
  font-size: 1.5rem;
  /* margin-right: 50px; */
  background-color: rgba(0,0,0,0.7);
  

}

.keys {
  display: flex;
  flex: 1;
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  cursor: pointer;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

@media screen and (max-width:1000px){
  .keys{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:100px;
    margin-left:30px;
  }


  main{
    min-height: 85vh;
    margin-top: 200px;
  }

  .circle{
    margin:0 auto;
    margin-bottom: 100px;
  }
}

@media screen and (max-width:574px){
  main{
    min-height: 100vh;
    margin-top: 80px;
  }
  .keys{
    margin-right: 25px;
    grid-column-gap:1px;
  }
  .key {
    width: 8rem;
  }
  p{
    font-size: 1.8rem;
  }
  .circle {
    margin-bottom:50px;
  }
  .title {
    padding-top: 53px
  }
}